*
**
!.gitignore
!README.md
!plugins
plugins/system
!plugins/system
!plugins/system/addetect
!plugins/system/addetect/**
administrator
!administrator
administrator/language
!administrator/language
administrator/language/en-GB
!administrator/language/en-GB
!administrator/language/en-GB/plg_system_addetect.ini
!administrator/language/en-GB/plg_system_addetect.sys.ini

!modules
modules/**
!modules/mod_abd
!modules/mod_abd/**

!plg_addetect_updateserver.xml

